{% extends "layout.html" %}
{% block content %}
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Why can't it find the price?</h2>
      <p>Most likely it is because the website you were trying to track detected our bots and denied access to them. There is nothing you can do about this at the moment, but we are working so that our bots don't get denied access to websites in the future.</p>
      <p>It could also just be that you typed in the price incorrectly and our bots cannot find it.</p>
    </div>
  </div>
{% endblock content %}